.boton{
    border-top-left-radius: 50px; border-bottom-left-radius: 50px;
    border-top-right-radius: 50px; border-bottom-right-radius: 50px;
    color: white;
    background-color: #218838;
}
.click{
    color: #218838;
}
.carousel .item {
    height: 300px;
}
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 10000 !important;
}
.mat-error {
    font-size: 13px;
    margin-top: 0%;
}
.segundaRow {
    width: 49%;
}

ul,  
li {  
      margin: 0;  
      padding: 0;  
      list-style: none;  
}
