.boton{
    border-top-left-radius: 50px; border-bottom-left-radius: 50px;
    border-top-right-radius: 50px; border-bottom-right-radius: 50px;
    color: white;
    background-color: #218838;
}
.click{
    color: #218838;
}
.carousel .item {
    height: 300px;
}
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}

.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 10000 !important;
}
.mat-error {
    font-size: 13px;
}
.hint {
    color:rgb(235, 140, 52);
    font-size: 14px;
}
.mat-form-field-wrapper{
    padding-bottom: 13px;
    margin-top: 0% !important; 
    margin-bottom: 3% !important;
}
.segundaRow {
    width: 49%;
}
#loading{
    float:left; 
    width: 24px; 
    height: 24px; 
}
#registro{
    z-index: 10000 !important;
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 15%;
    font-size: 16px;
}
