<br>
<mat-tab-group mat-stretch-tabs color="warn" class="mx-auto" style="width: 95%;">
    <mat-tab label="Postulaciones Entrantes">
        <div class="w-100 bg-light p-3 rounded-bottom shadow-lg">
            <div *ngIf="emptyPostulacionEntrante">
                NO TIENES POSTULACIONES ENTRANTES
            </div>
            <table class="table">
                <tbody>
                    <pagination-controls id="pagination1" (pageChange)="p1 = $event" previousLabel="Anterior"
                        nextLabel="Siguiente" class="my-pagination"></pagination-controls>
                    <mat-accordion>
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header style="height: auto;">
                                <mat-panel-title>
                                    <p class="mx-auto my-1">Filtrar y ordenar Lista</p>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <table class="w-100" cellspacing="0" border="0">
                                <tr id="filtro">
                                    <td>
                                        <mat-form-field class="mr-4" appearance="outline">
                                            <mat-label>Nombre Mascota</mat-label>
                                            <input matInput type="text" [(ngModel)]="postulacionFiltroE.nombreMascota">
                                            <button mat-button matSuffix mat-icon-button aria-label="Clear"
                                                (click)="postulacionFiltroE.nombreMascota=''">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="mr-4" appearance="outline">
                                            <mat-label>Nombre Usuario</mat-label>
                                            <input matInput type="text" [(ngModel)]="postulacionFiltroE.nickUsuario">
                                            <button mat-button matSuffix mat-icon-button aria-label="Clear"
                                                (click)="postulacionFiltroE.nickUsuario=''">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </td>
                                    <td style="width: 350px;">
                                        <div>
                                            <mat-radio-button [class.active]="orderPostulacionE === 'nombreMascota'"
                                                (click)="setOrderPostulacionE('nombreMascota')">Ordenar por Nombre De
                                                Mascota <span *ngIf="orderPostulacionE === 'nombreMascota'"><span
                                                        [hidden]="reversePostulacionE">Desc
                                                        ▼</span><span [hidden]="!reversePostulacionE">Asc
                                                        ▲</span></span>
                                            </mat-radio-button>
                                            <mat-radio-button [class.active]="orderPostulacionE === 'nickUsuario'"
                                                (click)="setOrderPostulacionE('nickUsuario')"> Ordenar por Nombre de
                                                Usuario <span *ngIf="orderPostulacionE === 'nickUsuario'"><span
                                                        [hidden]="reversePostulacionE">Desc
                                                        ▼</span><span [hidden]="!reversePostulacionE">Asc
                                                        ▲</span></span>
                                            </mat-radio-button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <tr
                        *ngFor="let postulacion of PostulacionesEntrantes | filterBy: postulacionFiltroE | orderBy: orderPostulacionE:reversePostulacionE:'case-insensitive' | paginate: { id: 'pagination2', itemsPerPage: 5, currentPage: p2 } | paginate: { id: 'pagination1', itemsPerPage: 5, currentPage: p1 }">
                        <td class="p-2">
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title class="ml-0"><strong>{{postulacion.nombreMascota}}</strong> tiene
                                        una postulacion de
                                        <u>{{postulacion.nickUsuario}}</u></mat-card-title>
                                </mat-card-header>
                                <div mat-card-image></div>
                                <mat-card-content>
                                    <div class="row">
                                        <div class="col rounded shadow-sm">
                                            <h2><strong>¿Por qué quiero tu mascota?</strong></h2>
                                            <p style="overflow-y: auto; height: 150px;">{{postulacion.pregunta1}}</p>
                                        </div>
                                        <div class="col rounded shadow-sm">
                                            <h2><strong><strong>Descripción:</strong></strong></h2>
                                            <p style="overflow-y: auto; height: 150px;">{{postulacion.descripcion}}
                                            </p>
                                        </div>
                                        <div class="col rounded shadow-sm">
                                            <h2><strong>¿Como es el lugar donde vivira?</strong></h2>
                                            <p style="overflow-y: auto; height: 150px;">{{postulacion.pregunta2}}</p>
                                        </div>
                                        <div class="col rounded shadow-sm">
                                            <h2><strong>Imagenes de referencia:</strong></h2>
                                            <div id="divFotoPanel" style="cursor: pointer;" class="shadow"
                                                style="background-image: url({{postulacion.fotoRefUrl}});"
                                                (click)="showLightbox(0,postulacion.fotoRefUrl)"></div>
                                        </div>
                                    </div>
                                </mat-card-content>
                                <mat-card-actions class="text-right">
                                    <button mat-raised-button id='aceptar'
                                        (click)="actualizarEstado(postulacion.idPostulaciones,true,postulacion.usuario)">ACEPTAR</button>
                                    <button mat-raised-button color="warn"
                                        (click)="actualizarEstado(postulacion.idPostulaciones,false,postulacion.usuario)">RECHAZAR</button>
                                </mat-card-actions>
                            </mat-card>
                        </td>
                    </tr>
                    <pagination-controls id="pagination1" (pageChange)="p1 = $event" previousLabel="Anterior"
                        nextLabel="Siguiente" class="my-pagination"></pagination-controls>
                </tbody>
            </table>
        </div>
    </mat-tab>
    <mat-tab label="Tus Mascotas">
        <div class="w-100 bg-light p-3 rounded-bottom shadow-lg">
            <div *ngIf="emptyMascotasPorCuidador">
                NO HAY NINGUNA MASCOTA POSTULADA
            </div>
            <table class="table">
                <tbody>
                    <pagination-controls id="pagination2" (pageChange)="p2 = $event" previousLabel="Anterior"
                        nextLabel="Siguiente" class="my-pagination"></pagination-controls>
                    <mat-accordion>
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header style="height: auto;">
                                <mat-panel-title>
                                    <p class="mx-auto my-1">Filtrar y ordenar Lista</p>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <table class="w-100" cellspacing="0" border="0">
                                <tr id="filtro">
                                    <td>
                                        <mat-form-field class="mr-4" appearance="outline">
                                            <mat-label>Especie</mat-label>
                                            <input matInput type="text" [(ngModel)]="mascotaFiltro.especie">
                                            <button mat-button matSuffix mat-icon-button aria-label="Clear"
                                                (click)="mascotaFiltro.especie=''">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field class="mr-4" appearance="outline">
                                            <mat-label>Raza</mat-label>
                                            <input matInput type="text" [(ngModel)]="mascotaFiltro.raza">
                                            <button mat-button matSuffix mat-icon-button aria-label="Clear"
                                                (click)="mascotaFiltro.raza=''">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Sexo</mat-label>
                                            <input matInput type="text" [(ngModel)]="mascotaFiltro.sexo">
                                            <button mat-button matSuffix mat-icon-button aria-label="Clear"
                                                (click)="mascotaFiltro.sexo=''">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </td>
                                    <td style="width: 250px;">
                                        <div>
                                            <mat-radio-button [class.active]="orderMascota === 'fechaDePublicacion'"
                                                (click)="setOrderMascota('fechaDePublicacion')">Ordenar por Fecha <span
                                                    *ngIf="orderMascota === 'fechaDePublicacion'"><span
                                                        [hidden]="!reverseMascota">Desc
                                                        ▼</span><span [hidden]="reverseMascota">Asc ▲</span></span>
                                            </mat-radio-button>
                                            <mat-radio-button [class.active]="orderMascota === 'nombre'"
                                                (click)="setOrderMascota('nombre')">
                                                Ordenar
                                                por
                                                Nombre <span *ngIf="orderMascota === 'nombre'"><span
                                                        [hidden]="reverseMascota">Desc
                                                        ▼</span><span [hidden]="!reverseMascota">Asc ▲</span></span>
                                            </mat-radio-button>
                                            <mat-radio-button [class.active]="orderMascota === 'edad'"
                                                (click)="setOrderMascota('edad')">
                                                Ordenar
                                                por
                                                Edad
                                                <span *ngIf="orderMascota === 'edad'"><span
                                                        [hidden]="!reverseMascota">Desc ▼</span><span
                                                        [hidden]="reverseMascota">Asc ▲</span></span></mat-radio-button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <tr
                        *ngFor="let mascota of MascotasPorCuidador | filterBy: mascotaFiltro | orderBy: orderMascota:reverseMascota:'case-insensitive' | paginate: { id: 'pagination2', itemsPerPage: 5, currentPage: p2 }">
                        <td class="p-0">
                            <div class="card mb-3" style="max-width: 100%;">
                                <div class="row no-gutters">
                                    <div id="divFoto" style="cursor: pointer;" (click)="showLightbox(0,mascota.imgUrl)"
                                        class="col-md-3 shadow" style="background-image: url({{mascota.imgUrl}});">
                                    </div>
                                    <div class="col-md-2">
                                        <small class="text-muted ml-3">{{mascota.fechaDePublicacion}}</small>
                                        <div class="card-body px-2 pt-0 text-center">
                                            <p></p>
                                            <h2 class="card-title mb-0"><Strong>{{mascota.nombre}}</Strong></h2>
                                            <h3 class="card-title mt-0 text-muted">{{mascota.especie}} -
                                                {{mascota.raza}}
                                            </h3>
                                            <p class="card-text my-0">Edad : {{mascota.edad}} años</p>
                                            <p class="card-text my-0" *ngIf="mascota.sexo==='H'">Sexo : Hermbra</p>
                                            <p class="card-text my-0" *ngIf="mascota.sexo==='M'">Sexo : Macho</p>
                                            <p class="card-text my-0" *ngIf="mascota.sexo==='N'">Sexo : Indeterminado
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="card-body">
                                            <h2 class="card-title my-0"><strong>Requisitos:</strong></h2>
                                            <div style="overflow-y: auto; height: 57px;">
                                                <p class="card-text  my-0">{{mascota.requisitos}}</p>
                                            </div>
                                            <br>
                                            <h2 class="card-title my-0"><strong>Informacion Adicional:</strong></h2>
                                            <div style="overflow-y: auto; height: 57px;">
                                                <p *ngIf="!mascota.infoAdicional" class="text-muted">Sin información
                                                    adicional</p>
                                                <p class="card-text  my-0">{{mascota.infoAdicional}}</p>
                                            </div>
                                            <div class="text-center mt-2">
                                                <button class="mr-4" mat-raised-button color="accent"
                                                    data-toggle="modal" data-target="#editarMascotaModal"
                                                    (click)="setDatosMascota(mascota.idMascota,mascota.nombre,mascota.imgId)">EDITAR</button>
                                                <button mat-raised-button color="warn" data-toggle="modal"
                                                    data-target="#eliminarMascotaModal"
                                                    (click)="setDatosMascota(mascota.idMascota,mascota.nombre)">ELIMINAR</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <pagination-controls id="pagination2" (pageChange)="p2 = $event" previousLabel="Anterior"
                        nextLabel="Siguiente" class="my-pagination"></pagination-controls>
                </tbody>
            </table>
        </div>
    </mat-tab>
    <mat-tab label="Postulaciones Realizadas">
        <div class="w-100 bg-light p-3 rounded-bottom shadow-lg">
            <div *ngIf="emptyPostulacionPorUsuario">
                NO HAY NINGUNA POSTULACION REALIZADA
            </div>
            <table class="table">
                <tbody>
                    <pagination-controls id="pagination3" (pageChange)="p3 = $event" previousLabel="Anterior"
                        nextLabel="Siguiente" class="my-pagination"></pagination-controls>
                    <mat-accordion>
                        <mat-expansion-panel hideToggle>
                            <mat-expansion-panel-header style="height: auto;">
                                <mat-panel-title>
                                    <p class="mx-auto my-1">Filtrar y ordenar Lista</p>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <table class="w-100" cellspacing="0" border="0">
                                <tr id="filtro">
                                    <td>
                                        <mat-form-field class="mr-4" appearance="outline">
                                            <mat-label>Nombre Mascota</mat-label>
                                            <input matInput type="text" [(ngModel)]="postulacionFiltroR.nombreMascota">
                                            <button mat-button matSuffix mat-icon-button aria-label="Clear"
                                                (click)="postulacionFiltroR.nombreMascota=''">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <mat-form-field appearance="outline">
                                            <mat-label>Estado</mat-label>
                                            <input matInput type="text" [(ngModel)]="postulacionFiltroR.estado">
                                            <button mat-button matSuffix mat-icon-button aria-label="Clear"
                                                (click)="postulacionFiltroR.estado=''">
                                                <mat-icon>close</mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </td>
                                    <td style="width: 350px;">
                                        <div>
                                            <mat-radio-button [class.active]="orderPostulacionR === 'nombreMascota'"
                                                (click)="setOrderPostulacionR('nombreMascota')">Ordenar por Nombre De
                                                Mascota <span *ngIf="orderPostulacionR === 'nombreMascota'"><span
                                                        [hidden]="reversePostulacionR">Desc
                                                        ▼</span><span [hidden]="!reversePostulacionR">Asc
                                                        ▲</span></span>
                                            </mat-radio-button>
                                            <mat-radio-button [class.active]="orderPostulacionR === 'estado'"
                                                (click)="setOrderPostulacionR('estado')"> Ordenar por Estado <span
                                                    *ngIf="orderPostulacionR === 'estado'"><span
                                                        [hidden]="reversePostulacionR">Desc
                                                        ▼</span><span [hidden]="!reversePostulacionR">Asc
                                                        ▲</span></span>
                                            </mat-radio-button>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <tr
                        *ngFor="let postulacion of PostulacionesPorUsuario | filterBy: postulacionFiltroR | orderBy: orderPostulacionR:reversePostulacionR:'case-insensitive' | paginate: { id: 'pagination3', itemsPerPage: 5, currentPage: p3 }">
                        <td class="p-2">
                            <mat-card>
                                <mat-card-header>
                                    <mat-card-title class="ml-0">Postulacion Realizada a
                                        <strong>{{postulacion.nombreMascota}} </strong><u>(Estado: <span
                                                *ngIf="postulacion.estado===null">Pendiente</span><span
                                                *ngIf="postulacion.estado==='true'">Aceptada</span><span
                                                *ngIf="postulacion.estado==='false'">Rechazada</span>)</u>
                                    </mat-card-title>
                                </mat-card-header>
                                <div mat-card-image></div>
                                <mat-card-content>
                                    <div class="row">
                                        <div class="col rounded shadow-sm">
                                            <h2><strong>¿Por qué quiero tu mascota?</strong></h2>
                                            <p style="overflow-y: auto; height: 150px;">{{postulacion.pregunta1}}</p>
                                        </div>
                                        <div class="col rounded shadow-sm">
                                            <h2><strong>Descripción:</strong></h2>
                                            <p style="overflow-y: auto; height: 150px;">{{postulacion.descripcion}}
                                            </p>
                                        </div>
                                        <div class="col rounded shadow-sm">
                                            <h2><strong>¿Como es el lugar donde vivira?</strong></h2>
                                            <p style="overflow-y: auto; height: 150px;">{{postulacion.pregunta2}}</p>
                                        </div>
                                        <div class="col rounded shadow-sm">
                                            <h2><strong>Imagenes de referencia:</strong></h2>
                                            <div id="divFotoPanel" style="cursor: pointer;" class="shadow"
                                                style="background-image: url({{postulacion.fotoRefUrl}});"
                                                (click)="showLightbox(0,postulacion.fotoRefUrl)"></div>
                                        </div>
                                    </div>
                                </mat-card-content>
                                <mat-card-actions class="text-right">
                                    <button *ngIf="postulacion.estado===null" mat-raised-button color="accent"
                                        editarPostulacionModal data-toggle="modal" data-target="#editarPostulacionModal"
                                        (click)="setDatosPostulacion(postulacion.idPostulaciones,postulacion.nombreMascota,postulacion.mascota)">EDITAR</button>
                                    <button mat-raised-button color="warn" data-toggle="modal"
                                        data-target="#eliminarPostulacionModal"
                                        (click)="setDatosPostulacion(postulacion.idPostulaciones,postulacion.nombreMascota,postulacion.mascota)">ELIMINAR</button>
                                </mat-card-actions>
                            </mat-card>
                        </td>
                    </tr>
                    <pagination-controls id="pagination3" (pageChange)="p3 = $event" previousLabel="Anterior"
                        nextLabel="Siguiente" class="my-pagination"></pagination-controls>
                </tbody>
            </table>
        </div>
    </mat-tab>
</mat-tab-group>

<ng-image-fullscreen-view [images]="imageObject" [imageIndex]="currentIndex" [show]="showFlag"
    (close)="closeEventHandler()">
</ng-image-fullscreen-view>

<div *ngIf="loading" id="overlay">
    <div class="spinner">
        <mat-spinner diameter="300"></mat-spinner>
    </div>
</div>

<div *ngIf="aceptada" id="alerta" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Solicitud Aceptada</strong> La información de contacto será enviada a tu correo electronico.
    <button type="button" (click)="closeModal()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div *ngIf="rechazada" id="alerta" class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Solicitud Rechazada</strong>
    <button type="button" (click)="closeModal()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal fade" id="editarMascotaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="width: 75%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">Editar publicación de {{nombreMascota}}</p>
                <div style="width: 60%;"></div>
                <mat-spinner *ngIf="loading2" diameter="40"></mat-spinner>
                <button type="reset" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="actualizaMascotaForm" (ngSubmit)="actualizaMascotaOnSubmit()">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field class="w mr-3" appearance="outline">
                                <mat-label>Nombre Mascota*</mat-label>
                                <input type="text" matInput placeholder="Nombre de la Mascota" formControlName="nombre"
                                    [ngClass]="{ 'is-invalid': actualizaMascotaSubmitted && fActualizaMascota.nombre.errors}">
                                <mat-error *ngIf="actualizaMascotaSubmitted && fActualizaMascota.nombre.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="fActualizaMascota.nombre.errors.required">El nombre es requerido</div>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w" appearance="outline">
                                <mat-label>Sexo*</mat-label>
                                <mat-select style="z-index: 1100" placeholder="Sexo de la Mascota"
                                    formControlName="sexo"
                                    [ngClass]="{ 'is-invalid': actualizaMascotaSubmitted && fActualizaMascota.sexo.errors}">
                                    <mat-option value="H">Hembra</mat-option>
                                    <mat-option value="M">Macho</mat-option>
                                    <mat-option value="N">Indeterminado</mat-option>
                                </mat-select>
                                <mat-error *ngIf="actualizaMascotaSubmitted && fActualizaMascota.sexo.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="fActualizaMascota.sexo.errors.required">El sexo es requerido</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <mat-form-field class="w mr-3" appearance="outline">
                                <mat-label>Especie*</mat-label>
                                <input type="text" matInput placeholder="Especie de la Mascota"
                                    formControlName="especie"
                                    [ngClass]="{ 'is-invalid': actualizaMascotaSubmitted && fActualizaMascota.especie.errors}">
                                <mat-error *ngIf="actualizaMascotaSubmitted && fActualizaMascota.especie.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="fActualizaMascota.especie.errors.required">La especie es requerida</div>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w" appearance="outline">
                                <mat-label>Raza*</mat-label>
                                <input type="text" matInput placeholder="Raza de la Mascota" formControlName="raza"
                                    [ngClass]="{ 'is-invalid': actualizaMascotaSubmitted && fActualizaMascota.raza.errors}">
                                <mat-error *ngIf="actualizaMascotaSubmitted && fActualizaMascota.raza.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="fActualizaMascota.raza.errors.required">La raza es requerida</div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <mat-form-field class="w mr-3" appearance="outline">
                                <mat-label>Edad*</mat-label>
                                <input type="number" matInput placeholder="Edad de la mascota en años humanos"
                                    formControlName="edad"
                                    [ngClass]="{ 'is-invalid': actualizaMascotaSubmitted && fActualizaMascota.edad.errors}">
                                <mat-error *ngIf="actualizaMascotaSubmitted && fActualizaMascota.edad.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="fActualizaMascota.edad.errors.required">La edad es requerida</div>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="w">
                                <ngx-mat-file-input id="fotoPerfil" (change)="uploadImg($event)"
                                    valuePlaceholder="Click para ingresar foto de la mascota*" type="file"
                                    [multiple]="false" formControlName="imgMascota"
                                    [ngClass]="{ 'is-invalid': actualizaMascotaSubmitted && fActualizaMascota.imgMascota.errors}">
                                </ngx-mat-file-input>
                                <mat-icon matSuffix style="cursor: pointer;">folder</mat-icon>
                                <mat-error *ngIf="actualizaMascotaSubmitted && fActualizaMascota.imgMascota.errors"
                                    class="invalid-feedback">
                                    <div *ngIf="fActualizaMascota.imgMascota.errors.required">La imagen es requerida
                                    </div>
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row mx-auto">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Requisitos*</mat-label>
                            <textarea type="text" matInput placeholder="Requisitos para adoptar" style="height: 65px;"
                                formControlName="requisitos"
                                [ngClass]="{ 'is-invalid': actualizaMascotaSubmitted && fActualizaMascota.requisitos.errors}"></textarea>
                            <mat-error *ngIf="actualizaMascotaSubmitted && fActualizaMascota.requisitos.errors"
                                class="invalid-feedback">
                                <div *ngIf="fActualizaMascota.requisitos.errors.required">Los requisitos son requeridos
                                </div>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Información Adicional</mat-label>
                            <textarea type="text" matInput placeholder="Información Adicional" style="height: 65px;"
                                formControlName="infoAdicional"
                                [ngClass]="{ 'is-invalid': actualizaMascotaSubmitted && fActualizaMascota.infoAdicional.errors}"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="form-group mt-2 text-center">
                    <button mat-raised-button id='aceptar' class="w-50 boton">Actualizar Mascota</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="eliminarMascotaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 75%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>¿Eliminar a {{nombreMascota}}?</h2>
                <mat-spinner *ngIf="loading3" diameter="40"></mat-spinner>
            </div>
            <div class="mx-auto">
                <button class="m-4" mat-raised-button color="warn" (click)="eliminarMascota()">SI</button>
                <button class="m-4" mat-raised-button id="aceptar" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editarPostulacionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl" style="width: 75%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <p class="modal-title">Editar postulación de {{nombreMascota2}}</p>
                <div style="width: 60%;"></div>
                <mat-spinner *ngIf="loading3" diameter="40"></mat-spinner>
                <button type="reset" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form [formGroup]="actualizaPostulacionForm" (ngSubmit)="actualizaPostulacionOnSubmit()">
                <div class="modal-body">

                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>¿Por que tu deberias ser quien lo adopte?</mat-label>
                        <textarea matInput type="text" style="height: 65px;" placeholder="Respuesta"
                            formControlName="pregunta1"
                            [ngClass]="{ 'is-invalid': actualizaPostulacionSubmitted && fActualizaPostulacion.pregunta1.errors}"></textarea>
                        <mat-error *ngIf="actualizaPostulacionSubmitted && fActualizaPostulacion.pregunta1.errors"
                            class="invalid-feedback">
                            <div *ngIf="fActualizaPostulacion.pregunta1.errors.required">El nombre es requerido</div>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>¿Como es el lugar donde vivira?</mat-label>
                        <textarea matInput type="text" style="height: 65px;" placeholder="Respuesta"
                            formControlName="pregunta2"
                            [ngClass]="{ 'is-invalid': actualizaPostulacionSubmitted && fActualizaPostulacion.pregunta2.errors}"></textarea>
                        <mat-error *ngIf="actualizaPostulacionSubmitted && fActualizaPostulacion.pregunta2.errors"
                            class="invalid-feedback">
                            <div *ngIf="fActualizaPostulacion.pregunta2.errors.required">Pregunta requerida</div>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Describete</mat-label>
                        <textarea matInput type="text" style="height: 65px;" placeholder="Respuesta"
                            formControlName="descripcion"
                            [ngClass]="{ 'is-invalid': actualizaPostulacionSubmitted && fActualizaPostulacion.descripcion.errors}"></textarea>
                        <mat-error *ngIf="actualizaPostulacionSubmitted && fActualizaPostulacion.descripcion.errors"
                            class="invalid-feedback">
                            <div *ngIf="fActualizaPostulacion.descripcion.errors.required">Descripción requerida
                            </div>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="input ml-2 segundaRow w-100">
                        <ngx-mat-file-input id="fotoPerfil" (change)="uploadImg2($event)"
                            valuePlaceholder="Click para ingresar foto de referencia" type="file" [multiple]="false"
                            formControlName="urlImg"
                            [ngClass]="{ 'is-invalid': actualizaPostulacionSubmitted && fActualizaPostulacion.urlImg.errors}">
                        </ngx-mat-file-input>
                        <mat-icon matSuffix style="cursor: pointer;">folder</mat-icon>
                    </mat-form-field>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success w-100">Actualizar Postulación</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="eliminarPostulacionModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="width: 75%;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>¿Eliminar postulacion de {{nombreMascota2}}?</h2>
                <mat-spinner *ngIf="loading4" diameter="40"></mat-spinner>
            </div>
            <div class="mx-auto">
                <button class="m-4" mat-raised-button color="warn" (click)="eliminarPostulacion()">SI</button>
                <button class="m-4" mat-raised-button id="aceptar" data-dismiss="modal">NO</button>
            </div>
        </div>
    </div>
</div>