<h1 class="text-center bg-light text-dark w-25 m-auto">PROTOTIPO REGISTRO</h1>
<div class="container-fluid bg-light mx-auto my-2 p-3 rounded shadow-lg">
  <div class="row">
    <div class="col rounded shadow-lg ml-2">

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

        <div class="row">
          <div class="col gridFormulario">

            <mat-form-field appearance="outline" class="input">
              <mat-label>Usuario</mat-label>
              <input matInput placeholder="Ingrese Usuario" type="text" formControlName="usuario"
                [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }" />
              <mat-error *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
                <div *ngIf="f.usuario.errors.required">El usuario es requerido</div>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="input">
              <mat-label>Contraseña</mat-label>
              <input matInput placeholder="Ingrese Contraseña" [type]="hide ? 'password' : 'text'" formControlName="contrasena"
                [ngClass]="{ 'is-invalid': submitted && f.contrasena.errors }" />
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
              <mat-error *ngIf="submitted && f.contrasena.errors" class="invalid-feedback">
                <div *ngIf="f.contrasena.errors.required">La contraseña es requerido</div>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="input">
              <mat-label>Correo Electronico</mat-label>
              <input matInput placeholder="Ingrese Usuario" type="email" formControlName="correoE"
                [ngClass]="{ 'is-invalid': submitted && f.correoE.errors }" />
              <mat-error *ngIf="submitted && f.correoE.errors" class="invalid-feedback">
                <div *ngIf="f.correoE.errors.required">El Correo Electronico es requerido</div>
              </mat-error>
            </mat-form-field>

          </div>
        </div>

        <div class="row">
          <div class="col gridFormulario">

            <mat-form-field appearance="outline" class="input">
              <mat-label>Nombre</mat-label>
              <input matInput placeholder="Ingrese Usuario" type="text" formControlName="nombre"
                [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }" />
              <mat-error *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                <div *ngIf="f.nombre.errors.required">El nombre es requerido</div>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="input">
              <mat-label>Apellido</mat-label>
              <input matInput placeholder="Ingrese Apellido" type="text" formControlName="apellido"
                [ngClass]="{ 'is-invalid': submitted && f.apellido.errors }" />
              <mat-error *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                <div *ngIf="f.apellido.errors.required">El apellido es requerido</div>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="input">
              <mat-label>Fecha de Nacimiento</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="fechaNac"
                [ngClass]="{ 'is-invalid': submitted && f.fechaNac.errors }" />
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="submitted && f.fechaNac.errors" class="invalid-feedback">
                <div *ngIf="f.fechaNac.errors.required">La Fecha de nacimiento es requerida</div>
              </mat-error>
            </mat-form-field>

          </div>
          <div class="col gridFormulario">

            <mat-form-field appearance="outline" class="input">
              <mat-label>Genero</mat-label>
              <mat-select formControlName="genero" [ngClass]="{ 'is-invalid': submitted && f.genero.errors }">
                <mat-option value="M">Masculino</mat-option>
                <mat-option value="F">Femenino</mat-option>
              </mat-select>
              <mat-error *ngIf="submitted && f.genero.errors" class="invalid-feedback">
                <div *ngIf="f.genero.errors.required">El genero es requerido</div>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="input">
              <mat-label>Región</mat-label>
              <mat-select name="region" formControlName="region"
                [ngClass]="{ 'is-invalid': submitted && f.region.errors }" [(ngModel)]="regionSeleccionada">
                <mat-option *ngFor="let item of regionesYcomunas" [value]="item.NombreRegion" (click)='filtroComuna()'>{{item.NombreRegion}}</mat-option>
              </mat-select>
              <mat-error *ngIf="submitted && f.region.errors" class="invalid-feedback">
                <div *ngIf="f.region.errors.required">La región es requerida</div>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="input">
              <mat-label>Comuna</mat-label>
              <mat-select name="comuna" formControlName="comuna"
                [ngClass]="{ 'is-invalid': submitted && f.comuna.errors }" [(ngModel)]="comunaSeleccionada">
                <mat-option *ngFor="let item of listaDeColumnas" [value]="item">{{item}}</mat-option>
              </mat-select>
              <mat-error *ngIf="submitted && f.comuna.errors" class="invalid-feedback">
                <div *ngIf="f.comuna.errors.required">La comuna es requerida</div>
              </mat-error>
            </mat-form-field>

          </div>
        </div>

        <div class="form-group mt-2 text-center">
          <button mat-raised-button id='Registrarse' class="w-100">Registrarse</button>
        </div>
      </form>
      
    </div>
    <div class="col my-auto mt-50">
      <ngb-carousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="https://placeimg.com/750/540/animals" alt="Random first slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="https://placeimg.com/750/540/animals" alt="Random second slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="https://placeimg.com/750/540/animals" alt="Random third slide">
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <img src="https://placeimg.com/750/540/animals" alt="Random fourth slide">
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>