<mat-toolbar color="primary">
    <span class="mr-2">My App</span>
    <button mat-raised-button color="warn" class="mx-1" routerLink="/">INICIO</button>
    <button mat-raised-button color="accent" class="mx-1" routerLink="/registro">REGISTRO</button>
    <button mat-raised-button class="mx-1" routerLink="/login">LOGIN</button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>