<mat-toolbar id='NAVBAR'>
    <span class="mr-2">¡<span style="font-size: 30px;">P</span>ET<span style="font-size: 30px;">A</span>DOPT! <span class="material-icons">pets</span></span>
        <button mat-raised-button id='NAV1' class="mx-1" routerLink="/tablero">ADOPTA</button>
        <button mat-raised-button id='NAV1' class="mx-1" routerLink="/registro_mascotas">REGISTRAR MASCOTA</button>
        <button mat-raised-button id='NAV1' class="mx-1" routerLink="/panelUsuario">PANEL DE USUARIO</button>
    <span class="example-spacer"></span>
    <button mat-fab class="avatarButton" style="background-image: url({{fotoUsuario}});" routerLink="/usuario"></button>
    <div >
        <button mat-raised-button color="warn" class="mx-1 ml-3" (click)="cerrarSesion()">CERRAR SESION</button>
    </div>
</mat-toolbar>