<div class="container-fluid bg-info text-white mx-auto my-2 p-3 rounded shadow-lg">
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-header bg-info">
                    Iniciar Sesion
                </div>
                <div class="card-body bg-info">
                    <label for="user">Usuario</label>
                    <input type="text" id="user" placeholder="Usuario">
                    <label for="pass">Contraseña</label>
                    <input type="text" id="pass" placeholder="Contraseña">
                <a href="#" class="btn btn-success btn-block">Acceder</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
        <div class="col-6">
            
        </div>
</div>

