<div class="container-fluid bg-info text-white mx-auto rounded shadow-lg">
        <div class="row">
            <div class="col-6">
                <div class="card" style="width: 18rem;">
                    <div class="card-header bg-info text-center">
                        Iniciar Sesion
                    </div>
                    <div class="card-body bg-info">
                        <div class="col-4">
                            <label for="user">Usuario</label>
                            <input type="text" id="user" placeholder="Usuario"> 
                        </div>
                        <br>
                        <div class="col-4">
                            <label for="pass">Contraseña</label>
                            <input type="password" id="pass" placeholder="Contraseña">
                        </div>
                        <br>
                        <a href="" class="btn btn-success btn-block">Acceder</a>
                    </div>
                    <div class="card-footer text-center bg-info">
                        <p>No tienes cuenta? <a href="/registro"> Registrate Aqui</a></p>
                        <p>Olvide/Recuperar Contraseña</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card bg-dark text-white">
                    <img src="../assets/imagenes/perritoLogin.jpg" class="card-img" alt="...">
                  </div>
            </div>
        </div>
</div>

