<div class="container-fluid bg-light mx-auto my- p-3 rounded shadow-lg">
    <div class="container-fluid">
        <div class="row">
            <mat-label>Solicitud</mat-label>
        </div> 
            <div class="card-body">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>>¿Por que tu deberias ser quien lo adopte</mat-label>
                    <input type="text" matInput placeholder="Respuesta"> 
                </mat-form-field>
                
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>>¿Como es el lugar donde vivira?</mat-label>
                    <input type="text" matInput placeholder="Respuesta">
                </mat-form-field>
                
                <mat-form-field class="w-100" appearance="outline"> 
                  <mat-label>>Describete</mat-label>
                    <input type="text" matInput placeholder="Respuesta">  
                </mat-form-field>
                
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>>¿Tienes más mascotas?</mat-label>
                    <input type="text" matInput placeholder="Respuesta"> 
                </mat-form-field>
        </div>
    </div>
</div>      