<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <br>
            <div class="card shadow-lg">
                <div class="card-header text-left">
                    <h3 id="timg">Agregar imagen</h3>
                </div>
                <div class="card-body">
                    <img src="../assets/imagenes/agregarFoto.jpg" class="card-img">
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-success btn-block">Seleccionar Archivo</a>
                </div>
            </div>

        </div>
        <div class="col-lg-9">
            <br>
            <div class="card shadow-lg">
                <div class="card-header text-left">
                    <h3 id="timg">Agregar imagen</h3>
                </div>
                <div class="card-body">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum eos nobis quidem blanditiis ducimus aliquam maiores saepe reiciendis unde, nesciunt impedit aut officiis molestiae laborum laboriosam illum at! Atque!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aut consequuntur, soluta doloribus alias porro sit! Pariatur, reiciendis culpa et veniam iste minus necessitatibus ex vitae voluptate iusto, assumenda temporibus?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quisquam sit veniam impedit tenetur! Incidunt nemo ipsam, magni at impedit necessitatibus vitae nihil sit nulla, nostrum illum ea laboriosam? Iste, obcaecati!</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum eos nobis quidem blanditiis ducimus aliquam maiores saepe reiciendis unde, nesciunt impedit aut officiis molestiae laborum laboriosam illum at! Atque!</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis aut consequuntur, soluta doloribus alias porro sit! Pariatur, reiciendis culpa et veniam iste minus necessitatibus ex vitae voluptate iusto, assumenda temporibus?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum eos nobis quidem blanditiis ducimus aliquam maiores saepe reiciendis unde, nesciunt impedit aut officiis molestiae laborum laboriosam illum at! Atque!</p>
                
                
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
    
        <div class="col-lg-12">
            <div class="card shadow-lg">
                <div class="card-header text-left">
                    <h3 id="timg"></h3>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias atque velit nesciunt magni tempora veritatis officiis, aspernatur ratione officia sit dolorem, sunt eum dolor! Aliquam ab nesciunt tempora mollitia ut.</p>
                </div>
                <div class="card-footer text-center">
                    <a class="btn btn-success btn-block">Seleccionar Archivo</a>
                </div>
            </div>
        </div>
        
    </div>
</div>