@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';
@include mat-core();
html, body { height: 100%; }
* {
  font-family: 'Grandstander', cursive; 
}
body {
  margin: 0;
  background-image: url("https://previews.123rf.com/images/belchonock/belchonock1407/belchonock140702950/30086370-collage-of-different-cute-pets.jpg"); /* The image used */
  background-color: #cccccc;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

