.container-fluid {
    width: 95%;
}
table {
    width: 100%;
}
.mascota {
    width: 100%;
}
.modal-title{
    margin-bottom: 0px;
}
#POSTULAR{
    width: 25%;
    color: white;
    background-color: #12ad34;
}
#divFoto{
    background-size: contain;
    background-position:center;
    background-repeat:no-repeat;
}
.mat-error {
    font-size: 13px;
}
.mat-form-field-wrapper{
    padding-bottom: 12px;
    margin-top: 0% !important; 
    margin-bottom: 3% !important;
}