<h1 class="text-center bg-light text-dark w-25 m-auto">PROTOTIPO TABLERO</h1>
<div class="container-fluid bg-light mx-auto my- p-3 rounded shadow-lg">

    <div class="table-responsive">
        <table class="table">
            <tbody>
                <tr *ngFor="let i of Mascota">
                    <td>
                        <div class="card mb-3" style="max-width: 100%;">
                            <div class="row no-gutters">
                                <div class="col-md-2">
                                    <img src="{{i.foto}}" class="card-img" alt="..." width="250px" height="250px">
                                </div>
                                <div class="col-md-2">
                                    <div class="card-body px-2 text-center">
                                        <h2 class="card-title mb-0">{{i.nombre}}</h2>
                                        <h3 class="card-title mt-0 text-muted">{{i.especie}} - {{i.raza}}</h3>
                                        <p class="card-text my-0">Dueño : {{i.dueno}}</p>
                                        <p class="card-text my-0">Edad : {{i.edad}}</p>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h2 class="card-title my-0">Informacion Adicional:</h2>
                                        <p class="card-text my-0">{{i.informacionAdicional}}</p>
                                        <h2 class="card-title my-0">Requisitos:</h2>
                                        <p class="card-text my-0">{{i.requisitos}}</p>
                                        <small class="text-muted">{{i.fecha}}</small>
                                        <div class="text-right">
                                            <button mat-raised-button color="warn" data-toggle="modal"
                                                data-target="#exampleModal">POSTULAR</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Solicitud de Adopcion</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid bg-light mx-auto my- p-3 rounded shadow-lg">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="card-body">
                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>>¿Por que tu deberias ser quien lo adopte</mat-label>
                                    <input type="text" matInput placeholder="Respuesta">
                                </mat-form-field>

                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>>¿Como es el lugar donde vivira?</mat-label>
                                    <input type="text" matInput placeholder="Respuesta">
                                </mat-form-field>

                                <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>>Describete</mat-label>
                                    <input type="text" matInput placeholder="Respuesta">
                                </mat-form-field>


                                <label class="w-100" appearance="outline">>¿Tienes más mascotas? </label>
                                <mat-radio-group aria-label="Select an option" [(ngModel)]="seleccion">
                                    <mat-radio-button class="w-25" value="true">Si</mat-radio-button>
                                    <mat-radio-button class="w-25" value="false">No</mat-radio-button>
                                </mat-radio-group>


                                <div *ngIf="seleccion">
                                  <mat-form-field class="w-100" appearance="outline">
                                    <mat-label>>¿Cuantas mascotas?</mat-label>
                                    <input type="number" matInput placeholder="Respuesta" >
                                    </mat-form-field>  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-success w-100">Adoptar!</button>
            </div>
        </div>
    </div>
</div>