.mat-form-field{
    width: 100%;
}
table {
    border: 0 !important;
}
.container-fluid {
    width: 95%;
}
table {
    width: 100%;
}
.mascota {
    width: 100%;
}
.modal-title{
    margin-bottom: 0px;
}
#POSTULAR{
    width: 25%;
    color: white;
    background-color: #12ad34;
}
#divFoto{
    background-size: contain;
    background-position:center;
    background-repeat:no-repeat;
}
:host ::ng-deep .mat-error {
    font-size: 13px;
}
:host ::ng-deep .mat-form-field-wrapper{
    padding-bottom: 12px;
    margin-top: 0% !important; 
    margin-bottom: 3% !important;
}
p {
font-size: 16px;
}
.avatar {
    float: right;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
:host ::ng-deep .ngx-pagination{
    text-align: center;
}
:host ::ng-deep .mat-expansion-panel-body{
    padding: 0;
}
.my-pagination /deep/ .ngx-pagination .current {
    background: #12ad34;
    border-radius: 50%;
}